#nav-bg {
  background-color: rgb(62, 55, 145);
}

#logo a {
  font-weight: bold;
  color: #fff;
}

.nav-item a {
  color: #fff;
  margin-right: 30px;
}

.navbar-toggler {
  box-shadow: none;
}

.navbar-toggler {
  color: #fff;
}

.logo a {
  color: #fff;
  font-weight: bold;
}

// 
.navbar-nav .nav-link.active {
  color: #ff5733 !important; 
}
